*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: "calibri";
}

header{}


/*==============================================
    navbar style  
    =============================================*/

.menubar{
	background: #333333;
	border: 0px solid #202F64;
	border-radius: 0px;
}

.menubar .menubar-nav{}

.menubar .menubar-nav li{
	padding: 0px 20px;
}

.menubar .menubar-nav > li > a {
	font-size: 16px;
	padding: 15px 10px;
	font-family: "Quicksand";
}
@media (min-width: 50px) and (max-width: 767px){
	.menubar .menubar-nav > li > a {
		border-bottom: 1px solid #3B3B3B;
		padding: 10px 10px;
	}
}

.menubar .menubar-nav > li > a:focus, .menubar .menubar-nav > li > a:hover{
	color: #3399FF;
}

.menubar .menubar-nav > li > a:active{}

.menubar .menubar-nav > .active > a, .menubar .menubar-nav > .active > a:focus, .menubar .menubar-nav > .active > a:hover{
	background: transparent;
}

.menubar .menubar-nav > .open > a, .menubar .menubar-nav > .open > a:focus, .menubar .menubar-nav > .open > a:hover{
	background: transparent;
	color: #3399FF;
}

.menubar-brand{}
.menubar .menubar-toggle:focus, .menubar .menubar-toggle:hover{}
.menubar .menubar-toggle {}
.menubar .menubar-collapse, .menubar .menubar-form {
   border-color: 1px solid #424141;
}


/*dropdown menu style*/

.dropdown-menu2 >li >a:focus, .dropdown-menu2 >li >a:hover{
	background: transparent;
	color: #3399FF;
}

@media (min-width: 50px) and (max-width: 767px){
	.dropdown-menu2 >li >a{
		border-bottom: 1px solid #3B3B3B;
		padding: 10px 10px;
	}
}

/*for small device dropdown menu color*/
.menubar .menubar-nav > .open .dropdown-menu2 >li >a:focus, .menubar .menubar-nav > .open .dropdown-menu2 >li >a:hover{
	color: #3399FF;
}



/*==============================================
    home  page style  
    =============================================*/

.siteSlider{
	margin-top: 50px;
}

.slider-control.left{background-image: none;}
.slider-control.right{background-image: none;}


.acWorld{
	font-family: "calibri";
	text-align: center;
	padding-top: 20px;
}


/*==============================================
    index page style  
    =============================================*/

.loginForm{
	background: #F5F4F4;
	padding-top: 60px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #E1DFDF;
	margin-top: 100px;
	position: relative;
}

.loginForm >img{
	border-radius: 70px;
	height: 80px;
	left: 135px;
	margin-bottom: 30px;
	position: absolute;
	top: -45px;
	width: 80px;
	z-index: 1000;
	border: 1px solid #E1DFDF;
}
@media (min-width: 50px) and (max-width: 319px){
	.loginForm >img{
		left: 95px;
	}
}
@media (min-width: 320px) and (max-width: 359px){
	.loginForm >img{
		left: 105px;
	}
}
@media (min-width: 360px) and (max-width: 399px){
	.loginForm >img{
		left: 120px;
	}
}
@media (min-width: 400px) and (max-width: 449px){
	.loginForm >img{
		left: 150px;
	}
}
@media (min-width: 450px) and (max-width: 499px){
	.loginForm >img{
		left: 180px;
	}
}
@media (min-width: 500px) and (max-width: 549px){
	.loginForm >img{
		left: 200px;
	}
}
@media (min-width: 550px) and (max-width: 599px){
	.loginForm >img{
		left: 230px;
	}
}
@media (min-width: 600px) and (max-width: 649px){
	.loginForm >img{
		left: 255px;
	}
}
@media (min-width: 650px) and (max-width: 699px){
	.loginForm >img{
		left: 290px;
	}
}
@media (min-width: 650px) and (max-width: 699px){
	.loginForm >img{
		left: 290px;
	}
}
@media (min-width: 700px) and (max-width: 767px){
	.loginForm >img{
		left: 320px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.loginForm >img{
		left: 105px;
	}
}

.createAccount{
	padding-top: 15px;
}


/*==============================================
    footer style  
    =============================================*/

.footer-bg{
	background: #F2F2F2;
	margin-top: 0px;
	padding-top: 30px;
	font-family: "calibri";
}

footer{}

.footer-link{}
.footer-link >li{list-style-type: none; padding-left: 30px; padding-bottom: 2px;}
.footer-link >li >p{font-size: 15px; margin: 0px;  color: #000;}
.footer-link >li >a{font-size: 13px; color: #555454;}
.footer-link >li >a:hover{}

.txtFooter{
	font-size: 12px;
	text-align: center;
	color: #555454;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-top: 1px solid #DFDEDE;
}